@import '/src/app/styles/utils/variables';
.addnft {
  &__input {
    padding-left: 17px;
    border: none !important;
    background-color: var(--Container);
  }
  &__catSelector {
    width: 232px !important;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__dndInput {
    position: absolute;
    width: 90%;
    height: 60px;
    opacity: 0;
  }
  &__dnd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 60px;
    border: 1px solid var(--gray);
    border-radius: 10px;
    background-color: var(--Container);
  }
  &__hideDnd {
    display: none;
  }
  &__hoverDnd {
    border: 1px dotted var(--gray);
    background-color: var(--sortSwitch);
  }
  &__previewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__photoPreview {
    position: relative;
    display: flex;
    justify-content: center;

    overflow: hidden;
    max-height: 200px;
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
  }
  &__photo {
    object-fit: cover;
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
  &__close {
    position: absolute;
    right: 3%;
    fill: var(--text);
    filter: drop-shadow(1px 1px 1px var(--bg));
  }
}

:global {
  .ant-input {
    color: var(--gray) !important;
    font-family: $font !important;
    font-size: 14px !important;
    :focus {
      color: red !important;
    }
  }
  ::placeholder {
    display: flex;
    align-items: center;
    color: var(--gray) !important;
    font-size: 14px;
  }
  .ant-btn-primary {
    background-color: var(--SelectColor) !important;
  }
  .ant-modal-title {
    background: var(--bg);
    color: var(--text) !important;
  }
  .ant-modal-content {
    background: var(--bg) !important;
    font-family: $font !important;
    color: var(--text);
  }
  .ant-modal-close {
    color: var(--text) !important;
  }
  .ant-modal-footer {
    * span {
      font-family: $font !important;
    }
  }
  .ant-btn {
    font: $font !important;
  }
}
